<body class="new_blogpost_body">

<h2>O the Riches</h2>

	<% @blogposts.each do |b| %>

		<h4><%= b.title %></h4>
		<%= link_to "Read Enjoyment", blogpost_path(b) %>
		
		<hr/>

	<% end %>

<%= link_to "Add a New Enjoyment", new_blogpost_path %>
</body>