// Place all the styles related to the blogposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import url(https://fonts.googleapis.com/css?family=Cherry Cream Soda);

$mainfont: 'Poiret One';

body.new_blogpost_body {
	background-color: rgb(232, 220, 226);
	font-family: $mainfont;


		h2 {
		color: rgb(8, 36, 105);
	}

	.title {
		height: 100px;
		text-align: center;
		color: rgb(8, 36, 105);
	}
}



