// Place all the styles related to the blogposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import url(https://fonts.googleapis.com/css?family=Cherry Cream Soda);

$mainfont: 'Poiret One';

body.new_blogpost_body {
	background-color: #D6D9A6;
	color: #4CB3BE;
	font-family: $mainfont;

		h1 {
			font-size: 60px;
			margin: 0 auto 0 auto;
		}

		p {
			font-size: 17px;
		}

		a:hover {
			color: #4CB3BE;
		}

	.title {
		height: 100px;
		text-align: center;
	}

	.goodstuff {
		text-align: center;
		font-size: 180px;
	}
	
}



